<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Land Page Assignment | Coding Dojo | Ninjas Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}" type="text/css">
    </head>
    <body>
        <div id="wrapper">
            <h1>This is the ninjas page. The coding team may have a thing about ninjas...</h1>

            <h2>Ninja Info, Wiki sourced and Lorax-ified</h2>

            <div class="ninja_info">
                <h3>What was the ninja?</h3>
                <p>
                    A ninja (忍者?) or shinobi (忍び?) was a covert agent or mercenary in feudal Japan.
                    The functions of the ninja included espionage, sabotage, infiltration, assassination
                    and guerrilla warfare.[1] Their covert methods of waging irregular warfare were
                    deemed "dishonorable" and "beneath" the samurai-caste, who observed strict rules about
                    honor and combat.[2] The shinobi proper, a specially trained group of spies and
                    mercenaries, appeared in the Sengoku or "warring states" period, in the 15th century,[3]
                    but antecedents may have existed in the 14th century,[4] and possibly in the 12th century
                    (Heian or early Kamakura era).
                </p>
            </div>
            <div class="ninja_info">
                <h3>And why was it there? </h3>
                <p>
                    In his Buke Myōmokushō, military historian Hanawa Hokinoichi writes of the ninja:  They
                    travelled in disguise to other territories to judge the situation of the enemy, they would
                    inveigle their way into the midst of the enemy to discover gaps, and enter enemy castles
                    to set them on fire, and carried out assassinations, arriving in secret.[45]
                    The ninja were stealth soldiers and mercenaries hired mostly by daimyos.[46] Their primary
                    roles were those of espionage and sabotage, although assassinations were also attributed to
                    ninja. In battle, the ninja could also be used to cause confusion amongst the enemy.[47] A
                    degree of psychological warfare in the capturing of enemy banners can be seen illustrated
                    in the Ōu Eikei Gunki, composed between the 16th and 17th centuries:
                </p>
            </div>
            <div class="ninja_info">
                <h3>And why was it trained and taken to kill somewhere from the far end of the world where the
                    Rising Sun rises?</h3>
                    <p>
                        The first specialized training began in the mid-15th century, when certain samurai
                        families started to focus on covert warfare, including espionage and assassination.[62]
                        Like the samurai, ninja were born into the profession, where traditions were kept in,
                        and passed down through the family.[24] According to Turnbull, the ninja was trained
                        from childhood, as was also common in samurai families. Outside the expected martial
                        art disciplines, a youth studied survival and scouting techniques, as well as
                        information regarding poisons and explosives.[63] Physical training was also important,
                         which involved long distance runs, climbing, stealth methods of walking[64] and
                         swimming.[65] A certain degree of knowledge regarding common professions was also
                         required if one was expected to take their form in disguise.[63] Some evidence of
                         medical training can be derived from one account, where an Iga ninja provided first-aid
                         to Ii Naomasa, who was injured by gunfire in the Battle of Sekigahara. Here the ninja
                         reportedly gave Naomasa a "black medicine" meant to stop bleeding.[66]
                    </p>

            </div>

            </div>

        </div>
    </body>
</html>
